<style type="text/css" media="screen">

/** { outline: 1px solid #369; }*/

body {
	width: 100%;
	height: 100%;
	background: #DDD;
  background-image: url('tweed.png'); 
	font-family: "Helvetica Neue","Nimbus Sans",Helvetica,Arial,"Lucida Grande",sans-serif;
}

div#wrapper {
  margin: 60px auto 0;
  width: 600px;
}

h2 {
  font-size: 4em; //100px;
  /*margin: 55px auto 0;*/
  margin: 0;
  text-align: center;
  color: rgba(0,0,0,.4);
}


#sites {
  margin: 20px auto 0;
	width: 600px;
}

#sites ul {
  padding: 0;
  margin: 0;
  padding: 1px 1px 0;
  background: #FFF;

  box-shadow:inset 0 1px 0 rgba(255,255,255,.3), 0 22px 70px 4px rgba(0,0,0,0.36), 0 0 0 1px rgba(0, 0, 0, 0.2);

}

#sites ul li {
  list-style: none;
  padding: 10px;
  font-size: 1.2em;
  border-bottom: 1px solid #FFF;
}

#sites ul li a {
  color: #FFF;
  text-decoration: none;
}

#sites ul li.up {
  background: #2ECC71;
}

#sites ul li.down {
  background: #E74C3C;
}

</style>

<div id="wrapper">
  <h2>Pulse</h2>
  <div id="sites">
    <ul>
      <% Site.all.each do |site| %>
      <li class="<%= site.current_status %>"><a href="<%= site.url %>" target="_blank"><%= site.url %></a></li>
      <% end %>
      
    </ul>
  </div>
</div>